export GIT_AUTHOR_NAME="QuantumMaid Developer"
export GIT_AUTHOR_EMAIL=developer@quantummaid.de
export GIT_COMMITTER_NAME="QuantumMaid Developer"
export GIT_COMMITTER_EMAIL=developer@quantummaid.de
export SONAR_TOKEN=1828d5de87701d1962eaa93c9162d8b5b1f61a29
